@font-face {
  font-family: 'BYekan';
  src: url('../fonts/BYekan-webfont.eot') format('eot'),
    url('../fonts/BYekan-webfont.woff') format('woff'),
    url('../fonts/BYekan-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'BYekan' !important;
  background-color: #fef0ec !important;
  direction: rtl;
  font-size: 10px;
}
.bg-green {
  background-color: #4eb282;
}

.animat {
  transition: all 0.2s ease-in-out;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1200px;
  min-height: 100vh;
  background: #fef0ec;
  text-align: center;
  margin: 128px auto;
  border-radius: 1rem;
  padding-bottom: 4rem;
}

.complete {
  text-decoration: line-through;
  /* opacity: 0.4; */
  background-color: #4eb282 !important;
}
#inp {
  display: flex;
  align-items: center;
  position: relative;
}
.todo-input {
  background: #fff;
  color: #000;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  padding: 1rem 3rem;
  border: none;
  outline: none;
}

.todo-input::placeholder {
  color: #b3b3b3;
}

#inp i {
  position: absolute;
  left: 1rem;
  color: #b3b3b3;
  border: none;
  cursor: pointer;
  outline: none;
}

.todo-input.edit {
  margin: 2rem 0;
  background-color: #ff6a55;
}

.todo-button.edit {
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  margin: 2rem 0;
}

/* .todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
} */

/* .todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
} */

/* .todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
} */

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.delete-icon {
  margin-right: 5px;
  color: #000;
}

.edit-icon {
  color: #000;
}
